body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    background-color: #FFFFFF;
}

#container
{
    width: 70%;
    padding: 1rem;
    text-align: left;
    border: 1px solid #000000;
    border-radius: 15px;
    margin: 3%;
}

#container .title
{
    font-size: 1.5rem;
    font-weight: bold;
    background: rgb(69, 105, 102);
    color: #FFFFFF;
    padding-left: 3%;
}

#container .subtitle
{
    font-size: 0.75rem;
    font-weight: bold;
    font-style: italic;
    padding-left: 3%;
}